snippet start
	OBJECT : ${1:title of the note}
	DATE   : `strftime("%d/%m/%Y %H:%M")`
	PROJECT: ${2:project name}
	_______________________________________________________________________________

	${3}
